{% extends "@MyShopDefault/layout.html.twig" %}

{% block body %}
    <h2>E-Commerce solution</h2>


    <form method="GET" action="{{ path('myshop.search') }}">
        Поиск: <input name="searchKey" type="text" /><br/>
        <input type="submit" value="Поиск" />
    </form>
    <br>


    {% for product in productList %}
        {###
        <div style="border: 1px solid red; width: 300px;">
            {% if product.iconFileName != null %}
            <img src="{{ asset('photos') }}/{{ product.iconFileName }}" />
            {% endif %}<br>
            <a href="{{ path('myshop.product_info', {id:product.id}) }}"> {{ product.model }}<br>{{ product.price }}</a>
        </div>
        ###}

        {{ include("@MyShopDefault/productDetails.html.twig", {"product":product}) }}
    {% endfor %}
{% endblock %}