{% extends "@MyShopDefault/layout.html.twig" %}

{% block body %}
    <h2>Product list</h2>
    <ul>
    {% for product in productList %}
        <li>
            {{ product.getDateCreatedAt().format("d.m.Y H:i:s") }}
            {{ product.getModel() }} <b>{{ product.getPrice() }}</b><br>
            {{ product.getDescription() }}
            <br />
            <a href="{{ path("myshop.product_info", {id:product.getId()}) }}">Show product details</a>
        </li>
    {% else %}
        No products!
    {% endfor %}
    </ul>

{% endblock %}