<div>
    <b>Корзина товаров</b><br />

    {% if order.products|length > 0 %}
        <ul>
    {% for product in order.products %}
        {% set sum = product.price * product.count %}
        <li><b>{{ product.model }}</b> {{ product.price }}x{{ product.count }}={{ sum }}</li>
    {% endfor %}
        </ul>

        <a href="{{ path('myshop.order_confirm') }}">Оформить заказ</a>
    {% endif %}
</div>