<html>
<head>
    <link rel="stylesheet" href="{{ asset("bundles/myshopdefault/main.css") }}" />
    {% block head_js %}{% endblock %}
</head>
<body>
<table border="1" style="width: 100%">
    <tr>
        <td colspan="2"><h3>Admin panel</h3> Welcome {{ app.user }} !!! <a href="{{ path("logout") }}">Logout</a></td>
    </tr>
    <tr>
        <td valign="top" style="width: 250px">
            <ul>
                <li><a href="{{ path("my_shop_admin.index") }}">Главная</a></li>
                <li><a href="{{ path("my_shop_admin.user_add") }}">Добавить пользователя</a></li>
                <li><a href="{{ path("my_shop_admin.product_list") }}">Товары</a></li>
                <li><a href="{{ path("my_shop_admin.category_list") }}">Категории товаров</a></li>
                <li><a href="{{ path("my_shop_admin.category_tree") }}">Категории в виде дерева</a></li>
            </ul>
        </td>
        <td valign="top">
<<<<<<< HEAD
            <div>
            {% for flash_message in app.session.flashBag.get('error') %}
                <b style="color: red">Ошибка!</b> {{ flash_message }}<br>
            {% endfor %}
            </div>

=======
            {% for flash_message in app.session.flashBag.get('error') %}
                <div class="flash-notice" style="color: red">
                    {{ flash_message }}
                </div>
            {% endfor %}
            {% for flash_message in app.session.flashBag.get('success') %}
                <div class="flash-notice">
                    {{ flash_message }}
                </div>
            {% endfor %}
>>>>>>> dev
            {% block body %}{% endblock %}
        </td>
    </tr>
</table>
</body>
</html>