<html>
<head>
    <link rel="stylesheet" href="{{ asset("bundles/myshopdefault/main.css") }}" />
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    {% block head_js %}
    <script>
        </script>
    {% endblock %}
</head>
<body>
<table border="1" style="width: 100%">
    <tr>
        <td colspan="2"><h3>Admin panel</h3> Welcome {{ app.user }} !!! <a href="{{ path("logout") }}">Logout</a></td>
    </tr>
    <tr>
        <td valign="top" style="width: 250px">
            {% block main_menu %}
            <ul>
                <li><a href="{{ path("my_shop_admin.index") }}">Главная</a></li>
                <li><a href="{{ path("my_shop_admin.user_add") }}">Добавить пользователя</a></li>
                <li><a href="{{ path("my_shop_admin.page_list") }}">Страницы</a></li>
                <li><a href="{{ path("my_shop_admin.product_list") }}">Товары</a></li>
                <li><a href="{{ path("my_shop_admin.category_list") }}">Категории товаров</a></li>
                <li><a href="{{ path("my_shop_admin.category_tree") }}">Категории в виде дерева</a></li>
                <li><a href="{{ path('my_shop_admin.load_demo_users') }}">Загрузить демо пользователей</a> </li>
                <li><a href="{{ path('my_shop_admin.orders_list') }}">Заказы клиентов</a></li>
                <li><a href="{{ path('my_shop_admin.page.create_without_twig') }}">Создание страницы без формы</a></li>
            </ul>
            {% endblock %}
        </td>
        <td valign="top">
            {% for flash_message in app.session.flashBag.get('error') %}
                <div class="flash-notice" style="color: red">
                    {{ flash_message }}
                </div>
            {% endfor %}
            {% for flash_message in app.session.flashBag.get('success') %}
                <div class="flash-notice">
                    {{ flash_message }}
                </div>
            {% endfor %}

            {% block body %}{% endblock %}
        </td>
    </tr>
</table>
</body>
</html>