<html>
<head>
    <link rel="stylesheet" href="{{ asset("bundles/myshopdefault/main.css") }}" />\
    {% block head_js %}{% endblock %}
</head>
<body>
<table border="1" style="width: 100%">
    <tr>
        <td colspan="2"><h3>Admin panel</h3> Welcome {{ app.user }} !!! <a href="{{ path("logout") }}">Logout</a> </td>
    </tr>
    <tr>
        <td valign="top" style="width: 250px">
            <ul>
                <li><a href="{{ path("my_shop_admin.index") }}">Главная</a></li>
                <li><a href="{{ path("my_shop_admin.user_add") }}">Добавить пользователя</a></li>
                <li><a href="{{ path("my_shop_admin.product_list") }}">Товары</a></li>
                <li><a href="{{ path("my_shop_admin.category_list") }}">Категории товаров</a></li>
                <li><a href="{{ path("my_shop_admin.category_tree") }}">Категории в виде дерева</a></li>
            </ul>
        </td>
        <td valign="top">
            {% block body %}{% endblock %}
        </td>
    </tr>
</table>
</body>
</html>