{% block footer %}
<script type="application/javascript">
function addToBasket(url)
{
    $.get(url, function (data) {
        alert("Спасибо!");
        //console.log(data);
    });

    return false;
}
</script>
{% endblock %}

<h2>Product details</h2>
<b>{{ product.getModel() }}</b> {{ product.getPrice() }}<br />
{{ product.getDescription() }}<br />
date: {{ product.getDateCreatedAt().format("d.m.Y H:i:s") }}

{% if product.status == constant("\\MyShop\\DefaultBundle\\Entity\\Product::STATUS_AV") %}
<a onclick="return addToBasket('{{ path('myshop.add_product_to_basket', {idProduct:product.id}) }}')" href="#">Добавить в корзину</a>
{% else %}
    ожидается поставка
{% endif %}