{% extends "@MyShopAdmin/layout.html.twig" %}

{% block body %}

    {% if categoryCurrent is defined %}
        <h4>{{ categoryCurrent.name }}</h4>
        <a href="{{ path("my_shop_admin.category_add", {idParent:categoryCurrent.id}) }}">Добавить подкатегорию</a>
    {% else %}
        <a href="{{ path("my_shop_admin.category_add") }}">Добавить категорию</a>
    {% endif %}

    <ul>
    {% for cat in categoryList %}
        <li><a href="{{ path('my_shop_admin.category_list', {idParentCategory:cat.id}) }}">{{ cat.name }}</a> - <a href="{{ path("my_shop_admin.product_list_by_category", {id_category:cat.id}) }}">Товары</a></li>
    {% endfor %}
    </ul>
{% endblock %}