{% extends "@MyShopAdmin/layout.html.twig" %}

{% block body %}
<a href="{{ path("my_shop_admin.product_add") }}">Добавить товар</a>

    {{ knp_pagination_render(productList) }}

    <a href="{{ path('my_shop_admin.product_list', {'countPerPage':30}) }}">30</a>

<table border="1">
    <tr>
        <td>Модель</td>
        <td>Категория</td>
        <td>Цена</td>
    </tr>
{% for product in productList %}
    <tr>
        <td>{{ product.getModel() }}</td>
        <td>{{ product.getCategory().getName() }}</td>
        <td>{{ product.getPrice() }}</td>
        <td>
            <a href="{{ path("my_shop.admin.product_delete", {id:product.id}) }}">Удалить</a><br/>
            <a href="{{ path("my_shop_admin.product_edit", {id:product.id}) }}">Редактирование</a><br>
            <a href="{{ path("my_shop_admin.product_photo_list", {idProduct:product.getId()}) }}">Управление картинками</a>
        </td>
    </tr>
{% endfor %}
</table>

    {{ knp_pagination_render(productList) }}
{% endblock %}