<html>
<body>

<a href="{{ path("my_shop_admin.product_add") }}">Добавить товар</a>

<table border="1">
    <tr>
        <td>Модель</td>
        <td>Категория</td>
        <td>Цена</td>
    </tr>
{% for product in productList %}
    <tr>
        <td>{{ product.getModel() }}</td>
        <td>{{ product.getCategory().getName() }}</td>
        <td>{{ product.getPrice() }}</td>
        <td>
            <a href="{{ path("my_shop.admin.product_delete", {id:product.id}) }}">Удалить</a><br/>
            <a href="{{ path("my_shop_admin.product_edit", {id:product.id}) }}">Редактирование</a>
        </td>
    </tr>
{% endfor %}
</table>

</body>
</html>